<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel
    *ngFor="let post of posts"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }}</mat-panel-title>
      <mat-panel-description> {{ post.content }} </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button> </mat-action-row
    ><mat-action-row>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0" class="info-text">No Post added yet</p>
